---
layout: workshop
root: .
venue: "University of Auckland"      # brief name of host site without address (e.g., "Euphoric State University")
address: "Conference Centre Building, 22 Symonds Street, Auckland"    # street address of workshop (e.g., "123 Forth Street, Blimingen, Euphoria")
country: nz    # country (lowercase two-letter ISO code such as "fr" - see https://en.wikipedia.org/wiki/ISO_3166-1)
language: en   # language (lowercase two-letter ISO code such as "fr" - see https://en.wikipedia.org/wiki/ISO_639-1)
latlng: "-36.853647,174.769403"     # fractional latitude and longitude (e.g., "41.7901128,-87.6007318"; you can use http://www.latlong.net/)
humandate: Jan 28-29, 2016  # human-readable date (e.g., "Feb 17-18, 2020")
humantime: 9:00 am - 5:00 pm  # human-readable time (e.g., "9:00 am - 4:30 pm")
startdate: 2016-01-28  # use YYYY-MM-DD format like "2015-01-01"
enddate: 2016-01-29    # use YYYY-MM-DD format like" 2015-01-02"
trainer: ["Aleksandra Pawlik", "John Rugis"]    # list of names like ["Kay McNulty", "Betty Jennings", "Betty Snyder"]
helper: ["Sung Bae", "Cameron McLean", "Sina Masoud-Ansari"]     # list of names like above
contact: "j.rugis@auckland.ac.nz"    # contact email address for workshop organizer, such as "grace@hopper.org"
etherpad: http://pad.software-carpentry.org/2016-01-28-Auckland-Instructor-Training        # optional (insert the URL for your Etherpad if you're using one)
prep-repository: https://github.com/carpentry-instructor-training/2016-01-28-training-prep  # optional (insert the URL to the repository for the preparation PR exercise
---


{% if page.eventbrite %}
<iframe
  src="https://www.eventbrite.com/tickets-external?eid={{page.eventbrite}}&ref=etckt"
  frameborder="0"
  width="100%"
  height="248px"
  scrolling="auto">
</iframe>
{% endif %}

<p>

The New Zealand eScience Infrastructure (NeSI) is pleased to announce its sponsorship of a Software Carpentry instructor 
training event in New Zealand. 
  <a href="{{site.swc_site}}">Software Carpentry</a>
  and <a href="{{site.dc_site}}">Data Carpentry</a>'s mission is to
  help scientists and engineers get more research done in less time
  and with less pain by teaching them basic lab skills for scientific
  computing.  This hands-on two-day workshop covers the basics of
  educational psychology and instructional design, and looks at how to
  use these ideas in both intensive workshops and regular classes. The
  workshop is a mix of lectures and hands-on lessons where you practice
  giving a short lesson using approaches learned and implement some of
  the teaching techniques which we will discuss.  This is training for
  teaching, not technical training; you do not need any particular
  technical background, and we will not be teaching that. This workshop
  is based on the constantly revised and updated
 <a href="{{site.swc_githubio}}/instructor-training/">curriculum</a>.
</p>

<p>
  <strong>Who:</strong> The course is aimed at everyone who is
  interested in becoming a better teacher. In particular, this training
  is aimed at those who want to become Software and Data Carpentry
  instructors, run workshops and contribute to the Carpentry training
  materials.  You don't currently have to be an instructor or a
  teacher to attend this workshop, but you do need to be willing and
  committed to becoming one and to improving your teaching techniques.
</p>

{% if page.latlng %}
<p>
  <strong>Where:</strong>
  {{page.address}}.
  Get directions with
  <a href="//www.openstreetmap.org/?mlat={{page.latlng | replace:',','&mlon='}}&zoom=16">OpenStreetMap</a>
  or
  <a href="//maps.google.com/maps?q={{page.latlng}}">Google Maps</a>.
</p>
{% endif %}

<p>
  <strong>Requirements:</strong> Participants should bring a laptop
  that is Internet connected and has a functioning browser.  If you
  have it, a device for recording audio and video (mobile phones and
  laptops are OK) is useful as throughout the two days, we are going to record
  one another teaching in pairs or threes.  It does not have to be
  high-quality, but it should be good enough that you can understand
  what someone is saying.
</p>
<p>
  Please also read the
  <a href="#preparation">Preparation</a> section below.  You will also
  receive some further information before the workshop so please check
  your email.
</p>
<p>
  All participants are also required to abide by

  Software Carpentry's <a href="{{site.swc_site}}/conduct.html">Code of Conduct</a>.
</p>

<p>
  <strong>Contact</strong>:
  Please email
  {% if page.contact %}
    <a href="mailto:{{page.contact}}">{{page.contact}}</a>
  {% else %}
    <a href="mailto:{{site.contact}}">{{site.contact}}</a>
  {% endif %}
  for more information.
</p>

<hr/>

<h2>Schedule</h2>

<div class="row">
  <div class="col-md-6">
    <h3>Day 1</h3>
    <table class="table table-striped">
      <tr> <td>09:00</td> <td>Welcome and introductions</td></tr>
      <tr> <td>09:30</td> <td>Mental models</td></tr>
      <tr> <td>10:00</td> <td>Formative vs. summative assessment</td></tr>
      <tr> <td>10:30</td> <td>Coffee break</td></tr>
      <tr> <td>11:00</td> <td>Teaching as performance art</td> </tr>
      <tr> <td>12:00</td> <td>Lunch break</td></tr>
      <tr> <td>13:00</td> <td>Concept maps</td> </tr>
      <tr> <td>14:30</td> <td>Coffee break</td> </tr>
      <tr> <td>15:00</td> <td>Cognitive load theory</td> </tr>
      <tr> <td>15:30</td> <td>Instructional design. Learning objectives.</td> </tr>
      <tr> <td>16:15</td> <td>Homework overview</td> </tr>
      <tr> <td>16:30</td> <td>Close</td> </tr>
    </table>
  </div>
  <div class="col-md-6">
    <h3>Day 2</h3>
    <table class="table table-striped">
      <tr> <td>09:00</td> <td>Recap and homework review<br></td> </tr>
      <tr> <td>09:45</td> <td>Live coding and active learning.</td> </tr>
      <tr> <td>10:30</td> <td>Coffee break</td> </tr>
      <tr> <td>11:00</td> <td>Live coding - continued</td> </tr>
      <tr> <td>11:30</td> <td>Motivation and demotivation</td> </tr>
      <tr> <td>12:00</td> <td>Lunch break</td> </tr>
      <tr> <td>13:00</td> <td>Overview of Software and Data Carpentry infrastructure</td> </tr>
      <tr> <td>13:30</td> <td>Setting up and running a workshop</td> </tr>
      <tr> <td>14:30</td> <td>Coffee break</td> </tr>
      <tr> <td>15:00</td> <td>Overview of existing materials; how to contribute</td> </tr>
      <tr> <td>16:00</td> <td>Next steps</td> </tr>
      <tr> <td>16:30</td> <td>Close</td> </tr>
    </table>
  </div>
</div>

{% if page.etherpad %}
<p>
  <strong>Etherpad:</strong> <a href="{{page.etherpad}}">{{page.etherpad}}</a>.
  <br/>
  We will use this Etherpad for chatting, taking notes, and sharing URLs and bits of code.
</p>
{% endif %}

<hr/>



<h2>Syllabus</h2>

Instructor Training <a href="http://swcarpentry.github.io/instructor-training/">materials</a>.

<hr/>

<h2 id="preparation" name="preparation">Preparation</h2>
<p>In preparation for the training we would like to ask you to:
  <ol>
     <li> Watch one of the following videos from Software Carpentry workshops 
     <a href="https://vimeo.com/139316669">https://vimeo.com/139316669</a>   
     <strong> or</strong> <a href="https://vimeo.com/139181120">https://vimeo.com/139181120</a>
     and put a 3-4 sentences feedback to <a href="{{page.etherpad}}">{{page.etherpad}}</a>.
     </li>
     <li> Complete a small task:
      <ul>
       <li> If you want to teach Software Carpentry, please submit a small pull request to
            <a href="{{page.prep-repository}}">this repository</a>
            Your pull request should contain one file (and one file only) called "your_name.txt" 
            (e.g., marie_curie.txt or alan_turing.txt). This file should contain a sentence or 
            two that describes the type of work you do. You will submit the name of this file 
            as part of your application. <br/>
            Help on creating pull requests can be found at <a href="https://help.github.com/articles/using-pull-requests/">
            https://help.github.com/articles/using-pull-requests</a>.
            If you need assistance, please mail training-help@software-carpentry.org.
       </li>
       <li>
            If you want to teach <strong>only</strong> Data Carpentry, please propose a short exercise for 
            <a href="http://www.datacarpentry.org/lessons/">the existing lessons</a>
            by submitting it via <a href="http://goo.gl/forms/YRw2LHYnVo">this form</a>. 
       </li>
      </ul>
     </li>
     <li>
      Please read:
      Greg Wilson's <a href="http://arxiv.org/abs/1307.5448">"Software Carpentry: Lessons Learned" </a>, <br/>
      Porter et al's
      <a href="{{site.swc_files}}/training-course/2013/08/p34-porter.pdf">"Success
      in Introductory Programming: What Works?"</a>, which is a good
      recent summary of results specific to teaching programming, <br/>and
      Mark Guzdial's
      <a href="http://cacm.acm.org/blogs/blog-cacm/189498-top-10-myths-about-teaching-computer-science/fulltext">"Top 10 Myths About Teaching Computer Science"</a>,
      which is a nice overview of things that <em>are not</em> true, but are widely believed.
    </li>
    <li>
      Please also pick up a copy of
      <a href="http://www.amazon.com/How-Learning-Works-Research-Based-Jossey-Bass/dp/0470484101/">"How
      Learning Works"</a>, which is currently the best summary of research
      in education. It is full of useful insights, and a lot of how we
      teach is based on the findings it reports.
    </li>
    <li>
      Finally, please go
      to <a href="{{site.swc_site}}/lessons.html">Software Carpentry's
      lessons page</a> and <a href="{{site.dc_site}}/lessons/">Data Carpentry's lessons page</a>
      to see what is currently taught by each.
    </li>
</ol>
</p>


